<%= form_for(Team.new, html: { multipart: true }) do |f| %>
 <div class="row">
      <section class="col-xs-12">
      <table>
        <tr>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= f.text_field :name, placeholder: "Team Name" , class: "answinput", required: true %>
            </div>
          </div>
        </tr>
        <tr>
          <div class="panel panel-default">
            <div class="panel-heading">
        <h4 class="panel-title"><h4>iPhone bitte um 180° drehen</h4></h4>
              <div class="btn user_answer_btn" style="width: 100%;">
          <center><input type="file" id="team_picture" name="team[picture]" class="filestyle user_answer_btn" data-input="false" data-classIcon="fa fa-camera" data-buttonText=""></center>
        </div>
      </div>
          </div>
        </tr>
      </table>    
            
            
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.hidden_field :rally_id, :value => @rally_id %>
          <%= f.submit "Team erstellen", class: "btn btn-primary" %>
        </div>
      </div>
    </section>
  </div>

<% end %>

<%= render "back_panel" %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>